* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-principal {
    background-color: #72b1a4;;
    display: flex;
    flex-direction: column-reverse;
    height: 30vh;
    width: 20%;
    padding: 20px;
    justify-content: space-between;
    overflow: hidden;
}

@media only screen and (max-width: 1000px) { 
    .menu-principal { 
        width: 20%;
    }
    
}

a:link {
    text-decoration: none;
    color: white;

}

.menu {
    color: white;
    font-weight: bold;
    width: 10%;
    text-decoration: none
}

a:hover {
    color: rgb(82, 82, 181) ;
}

.titulo {
    display: flex;
   align-items: flex-start;
   justify-content: flex-end;
   flex-direction: row;
   width: 70%;
   height: 90%;
   margin-bottom: 50px;
   font-weight: bold;
   font-size: xx-large;
   }

.titulo-1 { 
    align-self: flex-start;
}

.natureza {
    height: 60vh;
    width: 100%;
}
