<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <link rel="stylesheet" href="/css/contato.css">
    <title> Contato</title>
</head>
<body>
    <header class="menu-principal">
        <hr>
    <div class="menu"><a href="portifolio.html">
       Menu </a>
    </div>
    <hr>
    <div class="menu"><a href="contato.html">
       Contato </a>
    </div>
    <hr>
    <div class="menu"><a href="curriculo.html">
       Curriculo </a>
    </div>
    <hr>
    <div class="menu"><a href="biografia.html">Biografia </a>  </div> <hr>
    </header> 
        <aside class = "titulo">
            <div class="titulo-1" >
                Estamos no céu do meu mundo. Entre, você vai adorar!
            </div>
        </aside> 
<main>
    <div class="container-contato">
        <h2 class = contato> Contato</h2>
        <input class = "email" type="email" name="email" placeholder="Digite aqui seu e-mail" required>
        <input type="text" class="text" placeholder="Digite seu contato">
        <input type="submit" class = "enter" name = "botao-contato"> 
        <div class="checkbox">
        <input type="radio" class="checkbox"> Esqueceu a senha</div>
       <p class="paragrafo"> Ainda não tem uma conta?</p> <a href="cadastre-se.html">Cadastre-se!</a> 
       </div>
    </main>
    
</body>
</html>