<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contato.css">
    <title> Contato</title>
</head>
<body>
    <header class="menu-principal">
        <hr>
    <div class="menu"><a href="/">
       Menu </a>
    </div>
    <hr>
    <div class="menu"><a href="/contato">
       Contato </a>
    </div>
    <hr>
    <div class="menu"><a href="/curriculo">
       Curriculo </a>
    </div>
    <hr>
    <div class="menu"><a href="/biografia">Biografia </a>  </div> <hr>
    </header> 
        <aside class = "titulo">
            <div class="titulo-1" >
                Estamos no céu do meu mundo. Entre, você vai adorar!
            </div>
        </aside> 
<main>
    <div class="container-contato">
        <h2 class = contato> Contato</h2>
        <form class = 'formulario'action=""></form>
        <input class = "email" type="email" name="email" placeholder="Digite aqui seu e-mail" required>
        <small>Digite novamente, por favor!</small>
        <input type="text" class="text" placeholder="Digite seu contato">
        <input type="submit" class = "enter" name = "botao-contato"> 
        <div class="checkbox">
        <input type="radio" class="checkbox"> Esqueceu a senha</div>
       <p class="paragrafo"> Ainda não tem uma conta?</p> <a href="cadastre-se.html">Cadastre-se!</a> 
       </div> <form action=""></form>
    </main>
    <script>
        const form = document.getElementsByClassName = 'formulario'
        const email = document.getElementsByClassName = 'email'
        const text = document.getElementsByClassName = 'text'
        const submit = document.getElementsByClassName = 'enter';

        // form.addEventListener("submit", (e) => {
        //     e.preventDefault
        //     checkInputs();

        // })

        email.addEventListener('input',(e) => {
            checkInputs
        })

        function checkInputs(username) {
            const userEmailValue = email.value
            const textValue = text.value
            const submitValue = submit.value

            if (userEmailValue === ' ') {
             alert('Digite algum texto')

            }
        }

        function setErrorFor(input,message) {
        }

        function setErrorForSucess(input) {
            const formControl = input.parentElement
            const small = formControl.querySelector('email')
            small.innerText = message
        }

    </script>
</body>
</html>